@model ModelsAndUtility.Model.UserDetail

@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_CAUtilityLayout.cshtml";
}

<h1>UpdatePassword</h1>

<h4>UserDetail</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" readonly />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.Label("Old Password")
                <br />
                @Html.Password("OldPassword")
            </div>
            <div class="form-group">
                @Html.Label("New Password")
                <br />
                @Html.Password("NewPassword")
            </div>
            <div class="form-group">
                @Html.Label("Retype New Password")
                <br />
                @Html.Password("ConfirmPassword")
            </div>
            <div class="form-group">
                <input type="submit" value="ChangePwd" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
}